extends _layout

block title
	title Index
block content
	section.section_block
		.container
			.block-slider-outer
				h2 С этим товаром покупают
				.block-slider
					ul.cat_round2.js-jcarousel-catalog2
						li
							a(href='/products/termoprintery/datamax-i-4112/')
								figure
									img(src='/upload/iblock/f15/f15ac6ef49657122ebad252673d274b0.jpg', alt='', title='')
								span Термопринтер Datamax I 4112
						li
							a(href='/products/termoprintery/datamax-o-neil-e-class-mark/')
								figure
									img(src='/upload/iblock/55a/55aad26646cebb3693ef37d0fd64f5ca.jpg', alt='', title='')
								span Термопринтер Datamax-O’Neil E-class Mark III
						li
							a(href='/products/termoprintery/datamax-m-4206-mark/')
								figure
									img(src='/upload/iblock/739/739becf5d18f533abfd6ad90e130a435.jpg', alt='', title='')
								span Термопринтер Datamax M-4206 Mark II TT
						li
							a(href='/products/termoprintery/datamax-m-4206-mark/')
								figure
									img(src='/upload/iblock/739/739becf5d18f533abfd6ad90e130a435.jpg', alt='', title='')
								span Термопринтер Datamax M-4206 Mark II TT
				a(href="#", style='background: url("/img/arr.png")').jcarousel4-catalog-control-prev
				a(href="#", style='background: url("/img/arr.png")').jcarousel4-catalog-control-next